body {
  background-color: #fff;
}
.top {
  height: 50px;
  background-color: #ff841d;
  border-bottom: 1px solid #ff841d;
}
.top .logo {
  padding: 12px;
  width: 75%;
  margin-left: 5px;
}
.top .logo a {
  display: block;
  height: 100%;
}
.top .logo a img {
  height: 25px;
}
.top .appdown {
  padding: 7px;
}
.top .appdown a {
  display: block;
  height: 100%;
}
.top .appdown a img {
  height: 34px;
}
.search {
  height: 50px;
  padding: 10px;
  position: relative;
}
.search input {
  border: none;
}
.search input:nth-of-type(1) {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 63px;
  height: 30px;
  background-color: #ff841d;
  border-radius: 15px;
  font-size: 16px;
}
.search input:nth-of-type(2) {
  text-align: left;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding-left: 5%;
  background-color: #f1f1f1;
}
.classify {
  padding: 6px 0;
}
.classify ul li {
  width: 25%;
  margin-top: 16px;
  text-align: center;
  float: left;
}
.classify ul li a {
  display: block;
  height: 100%;
}
.classify ul li a img {
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.classify ul li:last-child {
  margin-bottom: 16px;
}
.advertisement {
  background-color: #f1f1f1;
}
.advertisement .head {
  margin-top: 4px;
  margin-bottom: 1px;
  padding-left: 10px;
  background-color: #ff9000;
}
.advertisement .head a {
  line-height: 35px;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
}
.advertisement .head a span {
  font-weight: 100;
  margin-right: 5px;
  line-height: 35px;
}
.advertisement .content {
  padding-bottom: 10px;
}
.advertisement .content ul {
  background-color: #fff;
}
.advertisement .content ul li {
  padding: 14px 8px;
}
.advertisement .content ul li a {
  display: block;
}
.advertisement .content ul li a .imgbox img {
  width: 100px;
  height: 100px;
}
.advertisement .content ul li a .info {
  padding-left: 90px;
}
.advertisement .content ul li a .info .title {
  color: #333333;
  font-size: 15px;
  line-height: 19px;
  height: 57px;
}
.advertisement .content ul li a .info .title span {
  color: #ff6c00;
}
.advertisement .content ul li a .info .root {
  margin-top: 30px;
  color: #a1a1a1;
  font-size: 12px;
}
.advertisement .content ul li a .info .root span:nth-of-type(3) {
  font-size: 12px;
  margin-top: 2px;
  margin-right: 2px;
}
.advertisement .content .more {
  text-align: center;
  line-height: 30px;
}
.advertisement .content .more a {
  color: #5a5a5a;
  display: block;
  margin: 10px;
  font-size: 13px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.advertisement .sort {
  margin-bottom: 6px;
  border-bottom: 1px solid #f1f1f1;
}
.advertisement .sort .title {
  margin-bottom: 1px;
  padding-left: 10px;
  background-color: #ff841d;
}
.advertisement .sort .title a {
  line-height: 35px;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
}
.advertisement .sort .title a span {
  margin-right: 5px;
  line-height: 35px;
  font-weight: 100;
}
.foot {
  margin-top: 10px;
  line-height: 34px;
  background-color: #efefef;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.foot a {
  color: #5a5a5a;
  text-align: center;
  width: 30%;
  float: left;
  font-size: 14px;
  border-right: 1px solid #c4c4c4;
}
.foot a:last-child {
  width: 40%;
}
.bottom {
  text-align: center;
  background-color: #efefef;
  border-bottom: 1px solid #c4c4c4;
  padding: 15px 0;
}
.bottom p {
  color: #5a5a5a;
  font-size: 12px;
}
.bottom p a {
  font-size: 12px;
  color: red;
}
